<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheBlog</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%if (errorParam) { %>
        <div id="popupNotification" class="popup">
            <span class="close" onclick="closePopup()">&times;</span>
            <p id="notificationMessage"><%= errorParam.message %></p>
            <script>setTimeout(closePopup, 10000)</script>
        </div>
          
    <%}%>
   
    <div class="main_signup">
       
          <form action="/v1/reset/:token" method="post">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="type password"/> <br>
            <br><label for="repeat_password">Confirm ::</label>
            <input type="password" name="repeat_password" id="repeat_password" placeholder="retype password"/> <br />
    
            <input type="hidden" name="urlSafeToken" id="urlSafeToken" value="<%= urlSafeToken %>">
            <input type="submit" value="SEND" class="center" />
          </form>
    
    </div>
    <script src="script.js"></script>
</body>
</html>